@import '../../styles/base.css';

.sb-story {
	padding: 2rem 0;
	padding-bottom: 3rem;
}

.navigation {
	width: 100%;
	border-bottom: 1px solid #eaeaea;
}

.navigation .container {
	padding: 0 var(--gutter);
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: space-between;
}

.navigation .container .wrap {
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: flex-start;
	gap: var(--gutter);
}

.navigation .container .main {
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: flex-end;
	gap: var(--gutter);
}
