.container {
	min-width: 500px;
	width: 100%;
	display: flex;
	flex-direction: column;
}

.wrapper {
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: space-between;
}

.header-left {
	display: flex;
	align-items: center;
	justify-content: space-between;
}

.header-center {
	display: flex;
	align-items: center;
	justify-content: center;
}

.header-right {
	display: flex;
	align-items: flex-end;
	justify-content: space-between;
}
