@import '../../styles/base.css';

.input {
	display: flex;
	flex-direction: row;
	align-items: stretch;
	justify-content: space-between;
	width: 100%;
	padding-bottom: 1px;
	background-color: var(--background);
	border: 1px solid var(--trim--input);
	border-radius: var(--border-radius);
}

.input ::selection {
	background-color: var(--color-amethyst);
	color: var(--background);
}

.input.focused {
	outline: none;
	padding-bottom: 0;
	background-color: var(--input-background--activated);
	border-bottom: 2px solid var(--color-amethyst);
	border-top-left-radius: var(--border-radius);
	border-top-right-radius: var(--border-radius);
	border-bottom-left-radius: 0;
	border-bottom-right-radius: 0;
}

.input input {
	font-family: var(--font-family);
	font-size: var(--base-font-size);
	padding: 0.3rem 0.5rem;
	width: 100%;
	line-height: 1.5rem;
	border: 0;
	background-color: var(--background);
}

.input input:focus {
	outline: none;
	padding: 0.3rem 0.5rem;
	width: 100%;
	line-height: 1.5rem;
	border: 0;
	background-color: var(--input-background--activated);
}

.icon {
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: center;
	padding: 0 0.5rem 0 0;
	cursor: pointer;
	color: var(--trim);
}

.icon path {
	fill: var(--trim);
}

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:active,
input:-webkit-autofill:focus {
	-webkit-box-shadow: 0 0 0 30px var(--background) inset !important;
	-webkit-text-fill-color: var(--color) !important;
}

.input-left {
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: center;
	cursor: default;
	padding: 0 1rem 0 1rem;
	color: var(--color--deactivated-secondary);
	background-color: var(--background--deactivated);
	border-right: 1px solid var(--trim);
	letter-spacing: 0.035rem;
	margin-bottom: -1px;
}

.input-left.focused {
	padding-top: 1px;
	margin: 0;
}

.input-right {
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: center;
	cursor: default;
	padding: 0 0.5rem 0 0.5rem;
	color: var(--color--deactivated-secondary);
	background-color: var(--background--deactivated);
	border-left: 1px solid var(--trim);
	letter-spacing: 0.035rem;
	margin-bottom: -1px;
}

.input-right.focused {
	padding-top: 1px;
	margin: 0;
}
