@import '../../styles/base.css';

.navlink {
	color: var(--color-secondary);
	text-decoration: none;
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: center;
	padding: var(--gutter) 0;
}

.navlink .link {
	color: var(--color-secondary);
	text-decoration: none;
}

.navlink.active {
	color: var(--color);
	box-shadow: inset 0px 0px 0px 0px #000, inset 0px -2px 0px 0px #000;
}

.navlink-wrap-nohover {
	padding: 0.3rem 0.5rem;
	transition: all 0.2s ease-in-out;
}

.navlink-wrap-nohover:hover {
	color: var(--hover-color);
	cursor: pointer;
	transition: all 0.2s ease-in-out;
}

.navlink-wrap-hover {
	padding: 0.3rem 0.5rem;
	transition: all 0.2s ease-in-out;
}

.navlink-wrap-hover:hover {
	color: var(--hover-color);
	background: var(--hover);
	border-radius: var(--border-radius);
	cursor: pointer;
	transition: all 0.2s ease-in-out;
}

.navlink.sb-hover {
	color: var(--hover-color);
	background: var(--hover);
	border-radius: var(--border-radius);
	cursor: pointer;
}
