@import "../../index.css";

.card {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: var(--primary-background-color);
    width: calc(100% - var(--padded) * 2) !important;
    min-width: var(--min-width);
    max-width: var(--max-width);
    margin: var(--padded);
    border: var(--border);
    border-radius: var(--border-radius);
}

.card-header {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    width: 100%;
    font-weight: var(--bold);
    padding: var(--padded);
    border-bottom: var(--border);
}

.card-body {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    width: 100%;
}

.card-body-context {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    width: 100%;
    padding: var(--padded);
    padding-bottom: 0;
}

.card-body-content {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    width: 100%;
    padding: var(--padded);
}

.card-footer {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    padding: var(--padded);
    border-top: var(--border);
}

.card-footer.disabled {
    background-color: var(--disabled-background-color);
    color: var(--disabled-text-color);
}

.card-footer.disabled button {
    border: none;
    padding: var(--tight);
    background-color: var(--disabled-background-color);
}

.card-footer-context {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    margin: 0;
    font-size: var(--font-size);
}

.card-footer-action {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
    margin: 0;
    font-size: var(--font-size);
}