@import '../../styles/base.css';

.pfp {
	background-color: #a569f9;
	border-radius: 100%;
	-moz-border-radius: 100%;
	-webkit-border-radius: 100%;
	box-sizing: border-box;
	border: 1px solid var(--trim);
	color: #fff;
	display: flex;
	align-items: center;
	justify-content: center;
	width: 3rem;
	height: 3rem;
	font-size: 1rem;
	cursor: pointer;
	shape-rendering: geometricPrecision;
}

.pfp img {
	border-radius: 100%;
	-moz-border-radius: 100%;
	-webkit-border-radius: 100%;
	box-sizing: border-box;
	display: flex;
	align-items: center;
	justify-content: center;
	width: 3rem;
	height: 3rem;
	cursor: pointer;
	shape-rendering: geometricPrecision;
}
