@import '../../styles/base.css';

.sidebarlink {
	color: var(--color-secondary);
	text-decoration: none;
	width: 100%;
	display: flex;
	flex-direction: row;
	align-items: stretch;
	justify-content: flex-start;
	padding: var(--gutter);
	transition: all 0.2s ease-in-out;
}

.sidebarlink:hover {
	color: var(--hover-color);
	background: var(--hover-alt);
	border-radius: var(--border-radius);
	cursor: pointer;
	transition: all 0.2s ease-in-out;
}

.sidebarlink .active {
	color: var(--hover-color);
}
