@import '../../styles/base.css';

@media only screen and (max-width: 768px) {
	.navigation .container {
		height: 0px !important;
		width: 0px !important;
		overflow: hidden !important;
	}
}

@media only screen and (min-width: 769px) {
	.navigation .mobile-container {
		height: 0px !important;
		width: 0px !important;
		overflow: hidden !important;
	}
}

.navigation {
	width: 100%;
	background-color: var(--background);
	display: flex;
	flex-direction: column;
	align-items: space-between;
	justify-content: center;
	border-bottom-width: 0;
	border-bottom-color: var(--trim);
	border-bottom-style: solid;
}

.navigation .container {
	width: 100%;
	margin: 0 auto;
	padding: 0 var(--gutter);
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	z-index: 1001;
}

.navigation .container.fixed {
	max-width: 1200px;
}

.navigation .container .wrap {
	display: flex;
	flex-direction: row;
	align-items: center;
}

.navigation .container .wrap .brand {
	display: flex;
	flex-direction: row;
	align-items: center;
}

.navigation .container .wrap .menu {
	display: flex;
	flex-direction: row;
	align-items: center;
}

.navigation .container .main {
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: flex-end;
	gap: var(--gutter);
}

.navigation .sub-navigation-container {
	width: 100%;
	padding: 0 var(--gutter);
	margin-top: calc(-1 * var(--gutter));
	background: var(--background);
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: flex-start;
	z-index: 1000;
}

.navigation .sub-navigation-container.fixed {
	justify-content: center;
}

.sub-navigation-container.sticky {
	position: fixed;
	top: var(--gutter);
	z-index: 1001;
}

.navigation .sub-navigation-container .sub-navigation-main {
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: flex-start;
	overflow-x: scroll;
	-ms-overflow-style: none;
	scrollbar-width: none;
}

.sub-navigation-main.fixed {
	padding: 0 var(--gutter);
	width: 100%;
	max-width: 1200px;
}

.navigation .sub-navigation-container .sub-navigation-main::-webkit-scrollbar {
	display: none;
}

.navigation .mobile-container {
	padding: 0 var(--gutter);
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: center;
}

.navigation .mobile-container.border {
	border-bottom: 1px solid var(--trim);
}

.navigation .mobile-container .mobile-brand {
	padding: var(--gutter) 0;
	display: flex;
	flex-direction: row;
	align-items: center;
}

.navigation .mobile-container .mobile-button {
	z-index: 1000;
	padding: var(--gutter);
	display: flex;
	flex-direction: center;
	align-items: center;
	cursor: pointer;
	width: 3rem;
	height: 3rem;
}

.navigation .mobile-container .mobile-button:hover {
	color: var(--hover);
}

.navigation .mobile-container .mobile-menu {
	display: none;
	z-index: 9999;
}

.navigation .mobile-container .mobile-menu.toggled {
	position: absolute;
	top: calc(2.5rem + calc(2 * var(--gutter)));
	right: 0;
	width: 100vw;
	height: 100vh;
	background-color: var(--background);
	padding: var(--gutter);
	display: flex;
	flex-direction: column;
	align-items: center;
	flex-direction: flex-start;
}

.navigation .mobile-container .mobile-menu button {
	width: 100%;
}

.navigation .mobile-container .mobile-menu h2 {
	color: var(--color);
	display: flex;
	flex-direction: row;
	align-items: flex-start;
	justify-content: flex-start;
	padding-top: var(--gutter);
	width: 100%;
}
