/*
Global :root variables, for those independent of themes
*/

@import url('https://fonts.googleapis.com/css2?family=Inter&display=swap');
@import './reset.css';

:root {
	--font-body: 'Inter', var(--font-fallback);
	--font-fallback: 'Helvetica Neue', Helvetica, Arial, sans-serif;
	--font-body: var(--font-fallback);
	--base-font-size: 14px;
	--font-weight: 400;
	--font-content-line-height: 1.5;
	--font-size-small: 0.875rem;
	--font-size-large: 1.25rem;
	--bold: 600;
	--semi-bold: 500;

	--color: #161616;
	--color-secondary: #a3a3a3;

	--background: #ffffff;
	--background-secondary: #5b5b5b;

	--hover: #ebebeb;
	--hover-alt: #eaeaea;
	--hover-color: #313131;
	--hover-secondary: #313131;

	--trim: #e7e7e7;
	--trim-secondary: #ebebeb;
	--trim--input: #e7e7e7;

	--gutter: 0.86rem;
	--border-radius: 0.25rem;

	--color--deactivated: #7c7c7c;
	--background--deactivated: #f9f9f9;
	--button--deactivated: #f0f0f0;

	--color--warning: #ee2b3a;
	--button--warning: #d42931;
	--hover--warning: #a4242b;
	--background--warning: #fdebeb;
	--trim--warning: #fcd3d3;

	--transition: var(--transition);
	--transition-slow: all 0.5s ease-in-out;
}

.hidden {
	display: none;
}

.inline-block {
	display: inline-block;
}
