@mixin light-theme {
}
@mixin dark-theme {
}

.light {
	@include light-theme;
}

.dark {
	@include dark-theme;
}

body,
:root {
	--mdn-color-white: ;
	--mdn-color-black: ;
	--mdn-color-ads: ;
	--mdn-color-background-highlight: ;
	--mdn-color-dark-grey: ;
	--mdn-background-dark: ;
	--mdn-background-light: ;
	--mdn-background-light-grey: ;
	--color-announcement-banner-accent: ;
}

// OS Default.
:root:not(.light):not(.dark) {
	@media (prefers-color-scheme: light) {
		@include light-theme;
	}

	@media (prefers-color-scheme: dark) {
		@include dark-theme;
	}
}
