.user-card {
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: space-between;
	cursor: pointer;
	padding: calc(0.5 * var(--gutter)) 0;
	max-width: 320px;
	font-weight: var(--semi-bold);
}

.user-card .user-card-pfp {
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: flex-end;
	width: 100%;
}

.user-card .user-card-user {
	display: flex;
	flex-direction: column;
	align-items: flex-start;
	justify-content: center;
}

.user-card .user-card-user .user-card-name {
	color: var(--color);
	white-space: nowrap;
	margin: 0 var(--gutter);
}

.user-card:hover .user-card-user .user-card-name {
	color: var(--color-secondary);
}

.user-card .user-card-user .user-card-email {
	color: var(--color-secondary);
	white-space: nowrap;
}
